<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{profile.name}}</mat-card-title>
    <mat-card-subtitle>{{profile.location}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{profile.avatar_url}}" alt="">
  <mat-card-content>
    <p>
      <span >{{ profile.bio }} </span>

    </p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button href="{{linkedinURL}}">LINKEDIN</a>
    <a mat-button href="{{profile.html_url}}">GITHUB</a>
    <a mat-button href="https://drive.google.com/file/d/1Zd-o0FNn1Upqv58OQU1bTomQwkDtlTY2/view?usp=sharing">CV</a>
  </mat-card-actions>
</mat-card>

