<mat-grid-list cols="2" rowHeight="2:1" style="max-width: 850px;">
  <mat-grid-tile appMouseHover (click)="goTo('https://tpsaladejuegosutn.web.app/')"> <img
      src="../assets/projectsFiles/saladejuegos.png" height="95%"></mat-grid-tile>
  <mat-grid-tile appMouseHover (click)="goTo('https://clinicaonlinetp.web.app/')"> <img
      src="../assets/projectsFiles/clinica.png" height="95%"> </mat-grid-tile>
  <mat-grid-tile appMouseHover (click)="goTo('http://www.overclocksolutions.com.ar/')"> <img
      src="../assets/projectsFiles/os.png" height="95%"> </mat-grid-tile>

  <mat-grid-tile appMouseHover (click)="goTo('https://abmsaen.web.app/')"> <img
      src="https://user-images.githubusercontent.com/44885834/125879344-105dad5b-93be-4de2-b6de-b08aa40c8050.png"
      height="95%"> </mat-grid-tile>
  <!-- <mat-grid-tile appMouseHover (click)="goTo('')"> <img src="../assets/projectsFiles/cs.jpg" height="95%"> -->


</mat-grid-list>
